package ${mainPath}.controller;

import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestBody;
import ${mainPath}.model.${className};
import ${mainPath}.service.${className}Service;




/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${classname}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 列表
     */
    @RequestMapping("/list")
    public List<${className}> list(${className} params){
        return ${classname}Service.getData(params);
    }


    /**
     * 信息
     */
    @RequestMapping("/info/{${pk.attrname}}")
    public ${className} info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
        return ${classname}Service.getInfo(${pk.attrname});
    }

    /**
     * 保存
     */
    @RequestMapping("/save")
    public void save(@RequestBody ${className} ${classname}){
			${classname}Service.save${className}(${classname});
    }

    /**
     * 修改
     */
    @RequestMapping("/update")
    public void update(@RequestBody ${className} ${classname}){
			${classname}Service.update${className}(${classname});
    }
}
