package ${mainPath}.mapper;

import ${mainPath}.entity.${className}Entity;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import java.util.List;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper{

    //查询实例
    ${className}Entity selectByPrimaryKey(${pk.attrType} ${pk.attrname});

    //根据参数查询列表
    List<${className}Entity> selectByParams(${className}Entity entity);

    void insertSelective(${className}Entity entity);

    void updateByPrimaryKeySelective(${className}Entity entity);

    void deleteByPrimaryKey(${pk.attrType} ${pk.attrname});

    void insertBatch(List<${className}Entity> entities);
	
}
