package ${mainPath}.mapper;

import ${mainPath}.model.${className};
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import java.util.List;

/**
 * ${comments}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper{

    //查询实例
    ${className} selectByPrimaryKey(${pk.attrType} ${pk.attrname});

    //根据参数查询列表
    List<${className}> selectByParams(${className} entity);

    void insertSelective(${className} entity);

    void updateByPrimaryKeySelective(${className} entity);

    void deleteByPrimaryKey(${pk.attrType} ${pk.attrname});
	
}
