<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${mainPath}.mapper.${className}Mapper">

    <resultMap type="${mainPath}.entity.${className}Entity" id="${classname}Map">
        #foreach($column in $columns)
            <result property="${column.attrname}" column="${column.columnName}"/>
        #end
    </resultMap>

    <select id="selectByPrimaryKey" resultType="${mainPath}.entity.${className}Entity">
		SELECT * FROM ${tableName} WHERE ${pk.columnName} = #{${pk.attrname}}
	</select>

    <select id="selectByParams" resultMap="${classname}Map">
        SELECT * FROM ${tableName}
        <where>
        #foreach($column in $columns)
            <if test="${column.attrname} != null">
                <![CDATA[AND ${column.columnName} = #{${column.attrname}} ]]>,
            </if>
        #end
        </where>
        ORDER BY ${pk.columnName} DESC
    </select>

    <insert id="insertSelective" parameterType="${mainPath}.entity.${className}Entity"#if($pk.extra == 'auto_increment')
            useGeneratedKeys="true" keyProperty="$pk.attrname"#end>
        INSERT INTO ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                <if test="${column.attrname} != null">
                    ${column.columnName},
                </if>
            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                <if test="${column.attrname} != null">
                    #{${column.attrname}},
                </if>
            #end
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="${mainPath}.entity.${className}Entity">
        UPDATE
        ${tableName}
        <set>
            #foreach($column in $columns)
                <if test="${column.attrname} != null">
                    <![CDATA[ ${column.columnName} = #{${column.attrname}} ]]>,
                </if>
            #end
        </set>
        WHERE ${pk.columnName} = #{${pk.attrname}}
    </update>


    <insert id="insertBatch">
        INSERT INTO
        ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
                <if test="${column.attrname} != null">
                    ${column.columnName},
                </if>
            #end
        </trim>
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #foreach($column in $columns)
                #{item.${column.columnName}},
            #end
            )
        </foreach>
        <!--这个批量插入的语句这里多了一个逗号,我暂时没查到vm引擎里去末尾逗号语句怎么写(可以去掉这个方法)-->
    </insert>

    <delete id="deleteByPrimaryKey">
      DELETE FROM ${tableName}  WHERE ${pk.columnName} = #{${pk.attrname}}
    </delete>

</mapper>