package ${mainPath}.service.impl;

import ${mainPath}.service.${className}Service;
import ${mainPath}.mapper.${className}Mapper;
import ${mainPath}.model.${className};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.List;






@Service
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Mapper ${classname}Mapper;
	
	@Override
	public ${className} getInfo(${pk.attrType} ${pk.attrname}){
		return ${classname}Mapper.selectByPrimaryKey(${pk.attrname});
	}
	
	@Override
	public List<${className}> getData(${className} entity){
		return ${classname}Mapper.selectByParams(entity);
	}

	
	@Override
	public void save${className}(${className} entity){
			${classname}Mapper.insertSelective(entity);
	}
	
	@Override
	public void update${className}(${className} entity){
		${classname}Mapper.updateByPrimaryKeySelective(entity);
	}

	
}
