package ${mainPath}.service;

import ${mainPath}.model.${className};
import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service {

    //获取列表数据
    List<${className}> getData(${className} entity);

    //获取实例数据
	${className} getInfo(${pk.attrType} ${pk.attrname});

    //新增
    void save${className}(${className} entity);

    //修改
    void update${className}(${className} entity);


}
